.inner-grid{max-width: 100%;padding-right: 0px;}
.page-container {
	width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 15px;   
    .type-level{display: flex;width: 559px;justify-content: space-between;align-items: center;text-align: center;     
        .level-item{font-weight: 600;width: 100%;font-size: 18px;margin-bottom: 8px;display: block;}
        h2{font-weight: 600;font-size: 24px;}
        .type-confirmed,.Confirmed{
            color: #ff073a;
            h4{color: rgba(255,7,58,.6);display: block;min-height: 20px;}
            h2{color: #ff073a;}
        }
        .type-active{
            color: #007bff;
            h4{color: rgba(0,123,255,.6);display: block;min-height: 20px;}
            h2{color: #007bff;}
        }
        .type-recovered,.Recovered{
            color: #28a745;
            h4{color: rgba(40,167,69,.6);display: block;min-height: 20px;}
            h2{color: #28a745;}
        }
        .type-deceased,.Deaths{
            color: #6c757d;
            h4{color: rgba(108,117,125,.6);display: block;min-height: 20px;}
            h2{color: #6c757d;}
        }
    }
    .select-box{
        position: relative;
        height: 56px;
        width: 488px;
        margin: 8px 0 40px;
        .dropdowntext{font-size: 21px;margin-bottom: -18px;margin-left: 20px;}
    }
    .countrySelector{
        display: block;
        -moz-box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
        border: 0;
        border-radius: 5px;
        box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
        color: gray;
        font-size: 19px;
        height: 56px;
        width: 488px;
        outline: none;
        padding: 10px;
        padding-left: 26px;
        padding-right: 40px;   
        border: 1px solid grey;
        border-radius: 30px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
       
    }
    .country_name{
        font-size: 32px;
        font-weight: bold;
        background: rgba(226, 48, 40, 0.0627451);
        border-radius: 5px;
        color: #fff;
        width: auto;
        max-width: 100%;
        margin-bottom: 3px;
        padding-left: 20px;
        background: linear-gradient(142deg, #6F8AE6, #1BC58D);
    }
    .select-box:after{
        content: "";
        border: solid gray;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 6px;
        position: absolute;
        right: 28px;
        top: 20px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        // -webkit-transform: rotate(223deg);
        transition: 0.4s all;
    }
    select::-ms-expand {
        display: none;
    }
    select:focus .select-box:after{
        transform: rotate(223degs);
        -webkit-transform: rotate(223deg);
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }
    .total-countsec{
        position: absolute;
        right: 0;
        border: 1px solid;
        max-width: 189px;
        float: left;
        top: 0;
        .type-level{
            flex-direction: column;
            align-items: baseline;
            text-align: left;
            width: 136px;
        }
        li{
            margin-bottom: 20px;
        }
        .GoDown{
            position: relative;
            height: 50px;
            width: 50px;
            background: red;
            
        }
        .GoDown:after{
            content: "";
            border: solid gray;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 6px;
            position: absolute;
            right: 28px;
            top: 20px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            // -webkit-transform: rotate(223deg);
            transition: 0.4s all;
        }
    }
    
    .state_data,.associated-extensions-table{
        .dataTable{
            width: 100%;
            margin-top: 46px;
            // border: 1px solid;
            .tableHead {                
                // border: 1px solid;
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-align: center;
                    border-top: 1px solid;
                    border-bottom: 1px solid;
                    li{
                        border-right: 1px solid #000;
                        font-weight: bold;
                        font-size: 17px;
                        text-align: center;
                        min-width: 120px;                       
                    }
                    li:first-child{
                        border-left: 1px solid;
                    }
                    li:nth-child(2){
                        color: #ff073a;
                        
                    }
                    li:nth-child(3){
                        color: #007bff;
                      
                    }
                    li:nth-child(4){
                        color: #28a745;
                    } 
                    li:hth-child(5){
                        color: #6c757d;
                    }                  
                }
            } 
            .tableBody {  
                .rowdata {
                    display: flex;
                    border: 1px solid;
                    border-top: 0px;
                    cursor: pointer;
                }
                .dataBox {
                    max-width: 125px;
                    width: 100%;
                    text-align: center;
                    border-right: 1px solid;
                }
                .dataBox:last-child{
                    border-right: 0px;
                }
            } 
        }
    }
    .side-container{
        display: flex;
        width: 100%;
        .right-sidebar{
            width: 779px;
            margin-left: 34px; 
            margin-top: 93px;
        }
    }
    .add-ManageCategories {
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #000000ab;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        .modal-popup {
            width: 800px;
            border-radius: 6px;
            overflow: hidden;
            margin: auto;
            .modal-header {
                width: 100%;
                height: 80px;
                padding: 0px 30px;
                box-sizing: border-box;
                line-height: 80px;
                display: flex;
                align-items: center;
                font-size: 24px;
                font-weight: bold;
                color: #ffffff;
                background-color: #009fdd;
                background: linear-gradient(142deg,#6f8ae6,#1bc58d);
                .close-modal {
                    margin-left: auto;
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                }
            }
            .text-field:disabled {
                border: 1px solid #CCD2D8;
                background-color: #E2E3E4;
                color: #8c97a3;
                font-weight: 400;
                pointer-events: none;
            }
           
            .modal-content {
                padding: 15px 30px;
                box-sizing: border-box;
                background-color: #ffffff;
                height: fit-content;
                max-height: 400px;
                overflow-y: auto;
                .associated-extensions-table {
                    .childExtns {
                        display: inline-block;
                        margin: 5px 0px;
                        padding: 0px 10px;
                        border-right: 2px solid #e0e0e0;
                        cursor: pointer;
                        color: #59c2e6 !important;
                    }
                    .childExtns:last-child {
                        border-right: 0px solid #e0e0e0;
                    }
                    p {
                        font-size: 14px;
                        font-weight: bold;
                    }
                    h3{
                        font-size: 24px;
                    }
                    h2{
                        font-size: 20px;
                        margin: 10px 0px;
                        color: #6c757d;
                        text-transform: capitalize;  
                        span {
                            font-size: 24px;
                            display: block;
                            font-weight: 600;
                        }
                    }
                    .dataTable{
                        margin-top: 10px;
                     
                    }
                   .disclaimer {
                        background: rgba(226,48,40,.0627451);
                        border-radius: 5px;
                        color: #e23028;
                        margin: auto;
                        padding: 1rem .25rem;
                        text-align: center;
                        width: 16rem;
                    }
                    .deltaTable{
                        display: flex;
                        margin-top: 20px;
                        border: 1px solid;
                        margin-bottom: 20px;
                        .confirmed{
                            color: #ff073a;
                        }
                    }
                    .highlighted{
                        width: 100%;
                        text-align: center;
                        border-right: 1px solid;
                    }
                    .highlighted:last-child{
                        border-right: 0px solid;
                    }
                }
                .flex-container {
                    display: flex;
                    flex-wrap: wrap;
                }
                
                .disabledCheckboxContainer {
                    pointer-events: none;
                    background-color: rgba(204, 204, 204, 0.363);
                    border-radius: 4px;
                }
                
            }
            .modal-action-buttons {
                background-color: #F2F2F2;
                height: 80px;
                padding: 0px 30px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
            }
        }
    }
    .svg-map{      
        svg{
            width: 100%;
            height: 771px;
            .land{
                fill: transparent;
                stroke: gray;
                cursor: pointer;
            }
            .land:hover{
                fill: #8080803b;
                stroke: #fff;
            }
        }
        #displayArea{
            max-width: 635px;
            h1{
                font-size: 32px;
                font-weight: bold;
                background: rgba(226, 48, 40, 0.0627451);
                border-radius: 5px;
                color: #e23028;
                color: #fff;
                width: auto;
                max-width: 100%;
                margin-bottom: 20px;
                padding-left: 20px;
                background: linear-gradient(142deg, #6F8AE6, #1BC58D);
            }
            .state-level-info{
                padding-left: 20px;
            }
        }
    }
    .updatepopup{
        position: absolute;
        width: 401px;
        right: 20px;
        top: 20px;
        box-shadow: 1px 1px 1px 1px #00000059;
        padding: 10px;
        border-radius: 4px;
        background: #fff;
        right: -400px;
        transition: .4s right;
        .updatenews{
            max-height: 500px;
            overflow: hidden;
            overflow-y: scroll;
            padding-right: 10px;
            p{
                font-size: 13px;
                line-height: 15px;
                margin-top: 10px;
                min-height: 50px;
                border: 1px solid grey;
                background: rgba(108,117,125,.0627451);
                border-radius: 5px;
                margin-bottom: .5rem;
                padding: .75rem;
                transition: all .2s ease-in-out;
                color: #6c757d;
                font-weight: 500;
                font-family: sans-serif;
            }
        }
        h3{
            font-weight: bold;
            font-size: 19px;
        }
        .notification{
            background: linear-gradient(142deg,#6F8AE6,#1BC58D);
            width: 55px;
            position: absolute;
            top: 0;
            left: -55px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            cursor: pointer;
        }
    }
}