<!-- <div class="confirmation-container" *ngIf="popupInformation">
  <div class="confirmation-popup">
    <div class="confirmation-header">
      {{popupInformation['header']}}
      <img src="../../../../../../assets/images/popup-close-icon.svg" class="close-confirmation">
    </div>
    <div class="confirmation-content">
      <div *ngFor="let content of confirmationPopupContent['content']">

      </div>
    </div>
    <div class="confirmation-action-buttons">
      <button *ngFor="let button of popupInformation['buttons']" (click)="actionButtonHandler(button)">{{button['label']}}</button>      
    </div>
  </div>
</div> -->